<head>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<!-- Main content -->
<main>
    <!-- Streak -->
        <div class="col s2 m2 l1"></div>
    <div id="mid-bg">
            <div class="row center-align">
                <div id="item" class="col s4">
                    <i class="large material-icons">assignment</i>
                    <p class="center-align">Daily Log</p>
                    <div class="row">
                        <a class="modal-trigger btn" href="/daily_log">Create</a>
                        <a href="/alllogs" class="btn">All</a>
                    </div>
                </div>
                <div id="item" class="col s4">
                    <i class="large material-icons">location_on</i>
                    <p class="center-align">Locates</p>
                    <div class="row">
                        <a class="btn" href="/locates">REVIEW</a>
                     </div>
                </div>
                <div id="item" class="col s4">
                    <i class="large material-icons">transform</i>
                    <p class="center-align">Valve Records</p>
                    <div class="row">
                        <a class="btn" href="/valve">Create</a>
                        <a class="btn" href="/allvalves">All</a>
                    </div>
                </div>
            </div>
            <div class="row center-align">
                <div id="item" class="col s4">
                    <i class="large material-icons">assignment_turned_in</i>
                    <p class="center-align">To-Do List</p>
                    <div class="row">
                        <a class="modal-trigger btn" href="/list">CREATE</a>
                        <a class="btn" href="/alllists">ALL</a>
                    </div>
                </div>
                <div id="item" class="col s4">
                    <i class="large material-icons">personal_video</i>
                    <p class="center-align">Invoice</p>
                    <div class="row">
                        <a class="btn" href="/invoice">CREATE</a>
                        <a href="/allinvoices" class="btn">ALL</a>
                    </div>
                </div>
                <div id="item" class="col s4">
                    <i class="large material-icons">inbox</i>
                    <p class="center-align">Ticket</p>
                    <div class="row">
                        <a class="modal-trigger btn" href="/ticket">CREATE</a>
                        <a class="modal-trigger btn" href="/alltickets">ALL</a>
                    </div>
                </div>
            </div>
            <div class="row center-align">
                <div id="item" class="col s4">
                    <i class="large material-icons">domain</i>
                    <p class="center-align">Blueprints</p>
                    <div class="row">
                        <a class="btn" href="#">REVIEW</a>
                    </div>
                </div>
                <div id="item" class="col s4">
                    <i class="large material-icons">tune</i>
                    <p class="center-align">Documents</p>
                    <div class="row">
                        <a class="modal-trigger btn" href="/document">CREATE</a>
                        <a class="modal-trigger btn" href="/alldocuments">ALL</a>
                    </div>
                </div>
                <div id="item" class="col s4">
                    <i class="large material-icons">date_range</i>
                    <p class="center-align">Calendar</p>
                    <div class="row">
                        <a class="modal-trigger btn" href="/scheduler">CREATE</a>
                        <a class="modal-trigger btn" href="/allschedules">ALL</a>
                    </div>
                </div>
            </div>
            {{!-- fourth section --}}
            {{!-- working on getting maps to work correctly --}}
            {{!-- <div class="row center-align">
                <div id="item" class="col s4">
                    <i class="large material-icons">domain</i>
                    <p class="center-align">Maps</p>
                    <div class="row">
                        <a class="btn" href="/map">REVIEW</a>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
        <div class="col s2 m2 l1"></div>

</main>
<!-- DONT TOUCH THIS SHIT -->
<!-- Section: Contact v.2 -->
<section id="contact-section" class="container">
    <!-- Section heading -->
    <p id="contact-title" class="center-align">
        <u>CONTACT US</u>
    </p>

    <div class="row center-align">
        <form class="col s12 m12 l12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fname-form" type="text" class="validate">
                    <label for="fname-form">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="lname-form" type="text" class="validate">
                    <label for="lname-form">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email-form" type="email" class="validate">
                    <label for="email-form">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">local_offer</i>
                    <input id="subject-form" type="text" class="validate">
                    <label for="subject-form">Subject</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <input id="message-form" type="text" class="validate">
                    <label for="message-form">Message</label>
                </div>
            </div>
            <div class="text-center left ">
                <a id="contact-send" onclick="send(); M.toast({html: 'Message Sent!', classes: 'rounded'})" class="btn pulse z-depth-5">Send</a>
            </div>
        </form>
    </div>
    <!-- end row -->
</section>

<script type="text/javascript" src="/assets/js/main.js"></script>