<head>
    <link rel="stylesheet" href="/assets/css/landing.css">
</head>

<header>
    <div class="container valign-wrapper">
        <div class="row">
            <div class="col s2 m2 l1"></div>
            <h1 class="center-align" id='intro-quote'>
                THE ROAD TO SUCCESS IS ALWAYS UNDER CONSTRUCTION</h1>
            <div class="col s2 m2 l1"></div>
        </div>
    </div>
</header>

<!-- Main content -->
<main>
    <div class="col s2 m2 l1"></div>
    <!-- Streak -->
    <div id="mid-bg" class="">
        <div class="row center-align">
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Create A Log</span>
                        <p>Create a log for your daily job routines. This helps by keeping things
                            orginized and is a quick simple form to write down whatever you need about the job.
                        </p>
                    </div>
                </div>
            </div>
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Call In Locates</span>
                        <p>Gives a list of companies to call or message for an upcoming locate/emergencies</p>
                    </div>
                </div>
            </div>
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Valve Records</span>
                        <p>Find valve records for your surrounding area. Gives you information on the
                            most recent work done to valves. As well as giving you a form to write on if your company
                            is working on them.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Create A To-do List</span>
                        <p>There is always need for a to-do list! Write down any tasks you have for the day and simply
                            check it off to send it to the completed section.
                        </p>
                    </div>
                </div>
            </div>
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Create An Invoice</span>
                        <p>Invoices for sending a bill to your client</p>
                    </div>
                </div>
            </div>
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Create A Ticket</span>
                        <p>This is to create a work sheet of all the information you have done
                            on a job to prepare it for the invoice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Look Up Blueprints</span>
                        <p>Need blueprints for the area youre working in? This gives you the
                            opportunity to search for the location and see the available blueprints
                            on your device.
                        </p>
                    </div>
                </div>
            </div>
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Notes</span>
                        <p>A section just in case you need to write some quick notes down!</p>
                    </div>
                </div>
            </div>
            <div id="item" class="col s4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Set A Date</span>
                        <p>Need to set a reminder for a meeting? Or maybe to remind you that you have a
                            smaller important job to do? Just set a time with a side note and whether or
                            not you want to be notified!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- fourth section --}}
        <div class="row center-align">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Maps</span>
                    <p>Simple section to look up an address to make it more convenient
                        for you!
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<div class="col s2 m2 l1"></div>

<!-- Section: Contact v.2 -->
<section id="contact-section" class="container">
    <!-- Section heading -->
    <p id="contact-title" class="center-align">
        <u>CONTACT US</u>
    </p>

    <div class="row center-align">
        <form class="col s12 m12 l12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fname-form" type="text" class="validate">
                    <label for="fname-form">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="lname-form" type="text" class="validate">
                    <label for="lname-form">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email-form" type="email" class="validate">
                    <label for="email-form">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">local_offer</i>
                    <input id="subject-form" type="text" class="validate">
                    <label for="subject-form">Subject</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <input id="message-form" type="text" class="validate">
                    <label for="message-form">Message</label>
                </div>
            </div>
            <div class="text-center left ">
                <a id="contact-send" onclick="send(); M.toast({html: 'Message Sent!', classes: 'rounded'})" class="btn pulse z-depth-5">Send</a>
            </div>
        </form>
    </div>
    <!-- end row -->
</section>


<script type="text/javascript" src="/assets/js/landing"></script>