<head>
    <link rel="stylesheet" href="/assets/css/locates.css">
</head>
<!-- Navigation & Intro -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <button id="nav-btn" class="btn sidenav-trigger " data-target="slide-out">menu</button>
            <button href="" id="nav-btn" class="dropdown-trigger btn" data-target="dropdownSearch">
                Search
            </button>
            <ul class="right">
                <img id="logo-img" src="/assets/images/blade.jpg">
            </ul>
        </div>
    </nav>
</div>
{{!-- searchbar options --}}
<ul id='dropdownSearch' class='dropdown-content'>
    <li>
        <a id="search-item" class="" href="">Logs</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Lists</a> 
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Tickets</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Invoices</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Help</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">About Us</a>
    </li>
</ul>
<!-- Navbar -->

<div class="container">
    <p id="page-title" class="center-align">LOCATES</p>
</div>

<div class="container center">
    <div class="row col s12">
        <div class="col s12">
            <div class="container">
                <div class="row">
                    <p id="heading"   class="center">PRIVATE LOCATORS</p>
                    <a class="col s12 link btn" href="https://www.private-utility-locators.com/">GPRS</a>
                    <a class="col s12 link btn" href="https://www.usicllc.com/">US Infrustructor Company (USIC)</a>
                    <a class="col s12 link btn" href="https://masterlocators.com/">MASTER LOCATORS</a>
                    <a class="col s12 link btn" href="https://www.bhug.com/">Blood Hound</a>
                    <a class="col s12 link btn" href="http://pegasusutility.com/">Peagasus</a>
                </div>
            </div>
        </div>
    </div>
</div>