<h1>
  Authentication 🚀 </h1>
<!-- main -->
<div class="container">
  <!--signin-form-->
  <div class="w3">
    <div class="signin-form profile">
      <h3>Login</h3>
      <form action="login" method="post">
        <div class="form-group">
          <label for="username">username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" id="loginBtn" class="btn btn-default">Login</button>
      </form>
      <br />
      <p>Or sign up <a href="/">here</a></p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/login.js"></script>