<!-- Navigation & Intro -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <button id="nav-btn" class="btn sidenav-trigger " data-target="slide-out">menu</button>
      <button href="" id="nav-btn" class="dropdown-trigger btn" data-target="dropdownSearch">
        Search
      </button>
      <ul class="right">
        <img id="logo-img" src="/assets/images/blade.jpg">
      </ul>
    </div>
  </nav>
</div>
{{!-- searchbar options --}}
<ul id='dropdownSearch' class='dropdown-content'>
  <li>
    <a id="search-item" class="" href="">Logs</a>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li>
    <a id="search-item" href="#!">Lists</a>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li>
    <a id="search-item" href="#!">Tickets</a>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li>
    <a id="search-item" href="#!">Invoices</a>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li>
    <a id="search-item" href="#!">Help</a>
  </li>
  <li class="divider" tabindex="-1"></li>
  <li>
    <a id="search-item" href="#!">About Us</a>
  </li>
</ul>
<!-- Navbar -->
<h1>
  Authentication 🚀 </h1>
<!-- main -->
<div class="container">
  <!--signin-form-->
  <div class="w3">
    <div class="signin-form profile">
      <h3>Login</h3>
      <form action="login" method="post">
        <div class="form-group">
          <label for="username">username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" id="loginBtn" class="btn btn-default">Login</button>
      </form>
      <br />
      <p>Or sign up <a href="/">here</a></p>
    </div>
  </div>
</div>

{{!-- <div class="container">
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
</div> --}}

{{!--
<script type="text/javascript">
  $(document).ready(function () {
    // Getting references to our form and inputs
    var loginForm = $("form.login");
    var emailInput = $("input#email-input");
    var passwordInput = $("input#password-input");

    // When the form is submitted, we validate there's an email and password entered
    loginForm.on("submit", function (event) {
      event.preventDefault();
      var userData = {
        email: emailInput.val().trim(),
        password: passwordInput.val().trim()
      };

      if (!userData.email || !userData.password) {
        return;
      }

      // If we have an email and password we run the loginUser function and clear the form
      loginUser(userData.email, userData.password);
      emailInput.val("");
      passwordInput.val("");
    });

    // loginUser does a post to our "api/login" route and if successful, redirects us the the members page
    function loginUser(email, password) {
      $.post("/api/login", {
        email: email,
        password: password
      }).then(function (data) {
        window.location.replace(data);
        // If there's an error, log the error
      }).catch(function (err) {
        console.log(err);
      });
    }

  });
</script> --}}


<script type="text/javascript" src="/assets/js/login.js"></script>