
  
    <form action="submit" method="Post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="text" name ="email" placeholder="email">
      <input type="submit">
    </form>