    <!-- Navigation & Intro -->
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <button id="nav-btn" class="btn sidenav-trigger " data-target="slide-out">menu</button>
            <button href="" id="nav-btn" class="dropdown-trigger btn" data-target="dropdownSearch">
                Search
            </button>   
            <ul class="right">
                <img id="logo-img" src="/assets/images/blade.jpg">
            </ul>
        </div>
    </nav>
    </div>
    {{!-- searchbar options --}}
    <ul id='dropdownSearch' class='dropdown-content'>
                        <li>
                            <a id="search-item" class="" href="">Logs</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a id="search-item" href="#!">Lists</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a id="search-item" href="#!">Tickets</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a id="search-item" href="#!">Invoices</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a id="search-item" href="#!">Help</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li>
                            <a id="search-item" href="#!">About Us</a>
                        </li>
                    </ul>
    <!-- Navbar -->
<div class="container" id="form">
  <form action="/register" method="POST">
    <div class="row">
      <!-- Company name -->
      <div class="input-field col s12">
        <input type="text" id="username" name="username" placeholder="username">
        <label class="active" for="username">username</label>
      </div>
    </div>
    <div class="row">
      <!-- job title -->
      <div class="input-field col s12">
        <input type="password" id="password" name="password" placeholder="password">
        <label class="active" for="password">Password</label>
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>


<script type="text/javascript" src="/assets/js/register.js"></script>