<div class="container" id="form">
  <form action="register" method="POST">
    <div class="row">
      <!-- job title -->
      {{!-- <div class="input-field col s12">
        <input type="text" id="firstname" name="firstname" placeholder="last name">
        <label class="active" for="firstname">First Name</label>
      </div>
      <!-- Company name -->
      <div class="input-field col s12">
        <input type="text" id="lastname" name="lastname" placeholder="last name">
        <label class="active" for="lastname">Last Name</label>
      </div>
    </div>
    <div class="row">
      <!-- job title -->
      <div class="input-field col s12">
        <input type="text" id="position" name="position" placeholder="position">
        <label class="active" for="position">Position</label>
      </div> --}}
      <!-- Company name -->
      <div class="input-field col s12">
        <input type="text" id="username" name="username" placeholder="username">
        <label class="active" for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <!-- job title -->
      <div class="input-field col s12">
        <input type="password" id="password" name="password" placeholder="password">
        <label class="active" for="password">Password</label>
      </div>
      <!-- Company name -->
      <div class="input-field col s12">
        <input type="text" id="email" name="email" placeholder="email">
        <label class="active" for="email">Email</label>
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
</div>


<script type="text/javascript" src="/assets/js/register.js"></script>