body{
    background-color: black;
    
}
form{
    background-color: white;
    color: black;
}
#form-title{
    font-size: 50px;
    font-weight: 800;
    color: black;
    margin: 15px 0 20px 0;
}
#logo-img{
    height: 60px;
    width: 60px;
}
input{
    color: black;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 2px #ffffff, 0 0px 3px #ffffff, 0 0px 4px #ffffff;
    color: rgb(26, 26, 26);
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(148, 0, 0);
    box-shadow: 0 1px 0 0 rgb(146, 0, 0);
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;    
  }
