body{
    background-image: url("/assets/images/alllogsbg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#page-title{
    font-weight: 800;
    font-size: 80px;
    color: black;
    text-shadow: 0 1px 8px rgb(255, 255, 255);
    padding: 5px;
}
#collapsible-body{
    background-color: rgb(90, 0, 0);
}
#header{
    background-color: rgb(90, 0, 0);
    color: rgb(126, 126, 126);
    border: 1px solid black;
}
#name-title{
    font-size: 20px;
    font-weight: 900;
    color: white;
}
#list-title{
    font-weight: 800;
    font-size: 30px;
    color: white;
}
#collection-item{
    background-color: rgb(41, 41, 41);
    color: white;
    margin: 5px;
    font-weight: 500;
    border: 1px solid black;
}
#collection-item:hover{
    background-color: rgb(90, 0, 0);
}