#page-title{
    font-weight: 800;
    font-size: 80px;
    color: black;
    text-shadow: 0 1px 8px rgb(255, 255, 255);
    padding: 5px;
}
#header{
    background-color: rgb(90, 0, 0);
    border: 1px solid black;
    color: rgb(126, 126, 126);
}
#job-title{
    font-size: 20px;
    font-weight: 900;
    color: white;
}
#clearall{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    box-shadow: 0 1px 10px black;
}
#clearall:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    box-shadow: 0 3px 10px black, 0 4px 15px black;
}
#label{
    font-weight: 500;
    font-size: 25px;
    color: white;
}
#disabled{
    color: rgb(177, 177, 177);
}
#follow-title{
    font-weight: 800;
    font-size: 30px;
    color: white;
}
#title-update{
    font-weight: 800;
    font-size: 40px;
}
.btn-large{
    background-color: rgb(90, 0, 0);
    color: white;
    box-shadow: 0 3px 10px black, 0 4px 15px black;
}
 .btn-large:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 10px rgb(0, 0, 0), 0 4px 15px rgb(0, 0, 0), 0 6px 20px black, 0 8px 25px black;
}
#delete-one{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    box-shadow: 0 1px 10px black;

}
#delete-one:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    box-shadow: 0 3px 10px black, 0 4px 15px black;
}
